html {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Liberation Sans';
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

header {
  display: flex;
  align-items: center;
}

.header_logo {
  margin-right: 15px;
  color: #808080;
  height: 60px;
  line-height: 79px;
  font-size: 80px;
  font-weight: 700;
  font-family: 'Brush Script MT', cursive;
}

.list_dropdown {
  width: 1170px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 35px;

}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin-left: 20px;
}

.dropdown_head {
  background-color: #555555;
  color: #FFFFFF;
  padding: 10px 0;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.dropdown_list {
  display: none;
}

.dropdown_nofilter {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  height: fit-content;
  background-color: #777777;
  color: #FFFFFF;
  padding: 6px 6px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.dropdown_nofilter a {
  margin-left: 5px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}

.dropdown:hover .dropdown_list{
  display: flex;
  flex-direction: column;
}

.dropdown_link {
  display: flex;
  background-color: #F6F6F6;
  color: #000000;
  font-size: 14px;
  border: 1px solid #DDDDDD;
  border-top: transparent;
  text-decoration: none;
}

.dropdown_link:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dropdown_link:hover {
  background-color: #F1F1F1
}

.dropdown_link .form_btn {
  text-align: justify;
  width: 160px;
  padding: 8px 10px;
  padding-left: 8px;
}

.form_btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(100px, auto);
}

.preview {
  display: flex;
  flex-direction: column;
  border: 1px solid #cfcfcf;
  background-color: #F6F6F6;
  border-radius: 3px;
  padding: 15px;
  height: 400px;
  max-width: 550px;
}

.preview .head {
  display: flex;
  margin: 8px;
}

.flex{
  flex: 1;
}

.preview .article_title {
  margin: 0;
}

.preview_content {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #DDDDDD;
  background-color: #FFFFFF;
  padding: 0 8px;
}

.article_link {
  margin-top: 8px;
  text-align: end;
  margin-right: 1%;
}

.article_link .form_btn{
  padding: 0;
  text-decoration: underline;
  font-style: italic;
  font-size: 16px;
  line-height: 1.5em;
}

.preview_bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.article_back {
  text-decoration: none;
  color: #555555;
}

.article_image {
  width: 100%;
}

.article_footer {
  display: flex;
  flex-direction: row;
  margin: 0 1%;
}

.article_author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list_article_category {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.article_category {
  text-decoration: none;
  background-color: #555555;
  color: #FFFFFF;
  padding: 4px 6px;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-left: 5px;
}

footer {
  margin: 20px auto 0 auto;
}